/* --------- */
/* Footer    */
/* --------- */

.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  
  h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }

  &__copyright {
    text-align: center !important;
  }
  &__body {
    text-align: center !important;
  }

  // @media (max-width: 767px) {
  //   .footer__copyright {
  //     text-align: center !important;
  //   }
  
  //   .footer__body {
  //     text-align: center !important;
  //   }
  // }

  &__icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
  }

}